/*This stylsheets assumes...
- all slides are within the container #container
- all slides are matched with the selector .slide
- the #container is an immediate child of the body. */

html{
    font-size: 62.5%;
    font-family: Georgia, Garamond, Baskerville, serif;
    line-height: 2.6rem;
}
html, body{
	width: 100%;
	height: 100%;
}
#container{
    width: 100%;
    height: 100%;
    position: relative;
	background: black;
	overflow-x: hidden;
	overflow-y: visible;
}
.slide{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: black;
}
.slide .content{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 2.4rem;
	position: relative;
	display: table;
}

/* Basic Styles for function */
.visible{
    visibility: visible;
    z-index: 800;
}
.slideDown, .slideOut, .slideUp, .slideLeft, .slideRight{
    z-index: 900;
}

/* Loader */
.firstLoad{
    display: none;
}
.loader{
    width: 90px;
    height: 40px;
    position: fixed;
    left: 50%;
    top: 0;
    margin-left: -30px;
    padding-top: 12px;
    background: rgba(0,0,0,.9);
    color: white;
    text-align: center;
    font-size: 1.0rem;
    font-style: italic;
    z-index: 1000;
}

/* Controls */
#controls{
    width: 62px;
    position: absolute;
    left: 15px;
    font-size: 14pt;
    color: black;
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
    z-index: 1001;
}
.up, .down{
    height: 22px;
    clear: both;
    text-align: center;
}
.left, .right{
    width: 20px;
    height: 22px;
}
.left{
    float: left;
    text-align: left;
}
.right{
    float: right;
    text-align: right;
}
.right::after{
    clear: both;
    content: '';
}


/* Image fitting styles */
.content {
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.stretch, .contain{
    background-size: contain;
}
.fill, .cover{
    background-size: cover;
}

/* Text slides */
.slide.text{
    background: whitesmoke;
    height: auto;
}
.slide.text.visible{
    overflow-y: visible;
}
.slide.text>.content{
    width: 50%;
    max-width: 700px;
    margin: auto;
    padding-top: 5%;
    text-align: left;
}
.slide.text>.content p+p, .slide.text>.content img+p, .slide.text>.content p+img,
.slide.text>.content p+h1, .slide.text>.content h1+p,
.slide.text>.content p+h2, .slide.text>.content h2+p,
.slide.text>.content p+h3, .slide.text>.content h3+p{
    margin-top: 2.4rem;
}
.slide.text>.content p+p{
    text-indent: 5rem;
}

/* Caption Styles */
.content .caption{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    
    text-align: center;
    z-index: 2;
}
.caption.gradient{
    bottom: 0;
    padding: 4% 0 2% 0;

    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    
    color: white;
}

.caption.whiteGradient{
    bottom: 0;
    padding: 4% 0 2% 0;

    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00FFFFFF', endColorstr='#a6FFFFFF',GradientType=0 ); /* IE6-9 */
    
    color: black;
}
.caption.block{
    background: whitesmoke;
}

/* Centered Text options (not captions) */

.slide:not(.text)>.content>*:not(.content):only-child, .slide>.content>.center{
    display: table-cell;
    vertical-align: middle;
    padding: 0 25%;
}

/* Text styles for captions and not */
.black{ color: black; }
.white{ color: white; }
.yellow{ color: yellow; }
.outline, .black.outline{
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}
.white.outline, .yellow.outline{
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.yellowOutline{
    text-shadow: 1px 0 0 yellow, 0 -1px 0 yellow, 0 1px 0 yellow, -1px 0 0 yellow;
}
.shadow{
    text-shadow: 0 0 10px rgba(0,0,0,.4);
}




/* Misc Fixes */
.slideDown, {
    z-index: 1000;
}
.recent, .slide.recent, .slideLeft.recent, .slideRight.recent, .slideUp.recent, .slideDown.recent{ /*The most recent slide change should be on top*/
    z-index: 1000;
}


/* Animations excerpted from Justin Aguilar's CSS3 Animation Cheatsheet
Available here: www.justinaguilar.com/animations/ */
/*
==============================================
slideDown
==============================================
*/
.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}
@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}			
	100% {
		transform: translateY(0%);
	}		
}
@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

/*
==============================================
slideOut
==============================================
*/
.slideOut{
    z-index: 900;

	animation-name: slideOut;
	-webkit-animation-name: slideOut;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}
@keyframes slideOut {
	0% {
		transform: translateY(0%);
	}			
	100% {
		transform: translateY(100%);
	}		
}
@-webkit-keyframes slideOut {
	0% {
		-webkit-transform: translateY(0%);
	}			
	100% {
		-webkit-transform: translateY(100%);
	}	
}

/*
==============================================
slideUp
==============================================
*/
.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}
@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}			
	100% {
		transform: translateY(0%);
	}	
}
@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

/*
==============================================
slideLeft
==============================================
*/
.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}
@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}		
	100% {
		transform: translateX(0%);
	}
}
@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}

/*
==============================================
slideRight
==============================================
*/
.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}
@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(0%);
	}	
}
@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}		
	100% {
		-webkit-transform: translateX(0%);
	}
}

/*
==============================================
jumpIn
==============================================
*/


.jumpIn{
	animation-name: jumpIn;
	-webkit-animation-name: jumpIn;	

	animation-duration: 0.7s;	
	-webkit-animation-duration: 0.7s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;	
}

@keyframes jumpIn {
	0% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	100% {
		transform: translateY(0%) scale(1) scaleY(1);
	}	
}

@-webkit-keyframes jumpIn {
	0% {
		-webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	100% {
		-webkit-transform: translateY(0%) scale(1) scaleY(1);
	}	
}

/*
==============================================
jumpOut
==============================================
*/


.jumpOut{
	animation-name: jumpOut;
	-webkit-animation-name: jumpOut;	

	animation-duration: 0.7s;	
	-webkit-animation-duration: 0.7s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;	
}

@keyframes jumpOut {
	0% {
		transform: translateY(0%) scale(1) scaleY(1);
	}
	100%{
		 transform: translateY(100%) scale(0.6) scaleY(0.5);
	}	
}

@-webkit-keyframes jumpOut {
	0% {
		-webkit-transform: translateY(0%) scale(1) scaleY(1);
	}
	100%{
		 -webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
	}	
}
