/*This stylsheets assumes...
- all slides are within the container #container
- all slides are matched with the selector .slide
- the #container is an immediate child of the body. */

html{
  font-size: 62.5%;
  line-height: 2.6rem;
}
html,
body{
	width: 100%;
	height: 100%;
}
#container{
  width: 100%;
  height: 100%;
  position: relative;
	overflow-x: hidden;
	overflow-y: visible;
}
.slide{
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: white;
}
.slide .content{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
	font-size: 2.4rem;
	position: relative;
	display: table;
}

/* Basic Styles for function */
.visible{
  visibility: visible;
  z-index: 800;
}
.slideUp,
.slideLeft,
.slideRight,
.slideOut{
  z-index: 900;
}
.slideOut{
  z-index: 901;
}
.recent,
.slide.recent,
.slideLeft.recent,
.slideRight.recent,
.slideUp.recent,
.downArrow.recent{ /*The most recent slide change should be on top*/
  z-index: 1000;
}
.fixed{
  position: fixed:
}

/* Loader */
.firstLoad{
  display: none;
}
.loader{
  width: 90px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: -30px;
  padding-top: 12px;
  background: rgba(0,0,0,.9);
  color: white;
  text-align: center;
  font-size: 1.0rem;
  font-style: italic;
  z-index: 1000;
}

/* Control Pad (shows available directions) */
#controlPad{
  width: 62px;
  position: absolute;
  left: 15px;
  z-index: 1002;
  font-size: 14pt;
  color: black;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}
#controlPad>div{
  cursor: pointer;
}
#controlPad .up,
#controlPad .down{
  height: 22px;
  clear: both;
  text-align: center;
}
#controlPad .left,
#controlPad .right{
  width: 20px;
  height: 22px;
}
#controlPad .left{
  float: left;
  text-align: left;
}
#controlPad .right{
  float: right;
  text-align: right;
}
#controlPad .right::after{
  clear: both;
  content: '';
}

/* Hot Spot Controls (invisible area for clicking directions)*/
.hotspot{
  z-index: 10001;
  position: absolute;
}
.hotspot.up,
.hotspot.down{
  width: 90%;
  height: 5%;
  max-height: 50px;
  left: 5%;
}
.hotspot.up{
  top: 0;
  cursor: n-resize;
}
.hotspot.down{
  bottom: 0;
  cursor: s-resize;
}
.hotspot.left,
.hotspot.right{
  width: 5%;
  max-width: 25px;
  height: 90%;
  top: 5%;
}
.hotspot.left{
  left: 0;
  cursor: w-resize;
}
.hotspot.right{
  right: 0;
  cursor: e-resize;
}


/* Animations excerpted from Justin Aguilar's CSS3 Animation Cheatsheet
Available here: www.justinaguilar.com/animations/ */
/*
==============================================
slideUp
==============================================
*/
.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}
@keyframes slideUp {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}
@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

/*
==============================================
slideOut
==============================================
*/
.slideOut{
    z-index: 900;

	animation-name: slideOut;
	-webkit-animation-name: slideOut;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}
@keyframes slideOut {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(100%);
	}
}
@-webkit-keyframes slideOut {
	0% {
		-webkit-transform: translateY(0%);
	}
	100% {
		-webkit-transform: translateY(100%);
	}
}

/*
==============================================
slideDown
==============================================
*/
.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}
@keyframes slideDown {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}
@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(100%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

/*
==============================================
slideRight
==============================================
*/
.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}
@keyframes slideRight {
	0% {
		transform: translateX(150%);
	}
	100% {
		transform: translateX(0%);
	}
}
@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(150%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}

/*
==============================================
slideLeft
==============================================
*/
.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}
@keyframes slideLeft {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(0%);
	}
}
@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(-150%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}

/*
==============================================
jumpIn
==============================================
*/


.jumpIn{
	animation-name: jumpIn;
	-webkit-animation-name: jumpIn;

	animation-duration: 0.7s;
	-webkit-animation-duration: 0.7s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes jumpIn {
	0% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	100% {
		transform: translateY(0%) scale(1) scaleY(1);
	}
}

@-webkit-keyframes jumpIn {
	0% {
		-webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	100% {
		-webkit-transform: translateY(0%) scale(1) scaleY(1);
	}
}

/*
==============================================
jumpOut
==============================================
*/


.jumpOut{
	animation-name: jumpOut;
	-webkit-animation-name: jumpOut;

	animation-duration: 0.7s;
	-webkit-animation-duration: 0.7s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes jumpOut {
	0% {
		transform: translateY(0%) scale(1) scaleY(1);
	}
	100%{
		 transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
}

@-webkit-keyframes jumpOut {
	0% {
		-webkit-transform: translateY(0%) scale(1) scaleY(1);
	}
	100%{
		 -webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
}
