/*This stylsheets assumes...
- all slides are within the container #container
- all slides are matched with the selector .slide
- the #container is an immediate child of the body. */

html{
    /* Basic Style Changes */
    font-size: 62.5%;
}
html, body, #container{
	width: 100%;
	height: 100%;
	position: relative;
}
#container{
	overflow: hidden;
	background: black;
}
.slide{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.visible{
    visibility: visible;
    z-index: 800;
}
.slideUp, .slideDown,
.slideRight, .slideLeft{
    z-index: 900;
}
.recent, .slide.recent,
.slideLeft.recent, .slideRight.recent,
.slideUp.recent, .slideDown.recent{
    z-index: 1000;
}


/* For a slide's content */
.slide .content{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 20px;
	position: relative;
	
	/* Basic Style Changes */
	font-size: 2.4rem;
}
.content .caption{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    z-index: 2;
    
    /* Basic Style Changes */
    text-align: center;
}
.caption.black{ color: black; }
.caption.white{ color: white; }
.content .img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
}
.content .img img{
    max-height: 100%;
    max-width: 100%;
}


/* Animations excerpted from Justin Aguilar's CSS3 Animation Cheatsheet
Available here: www.justinaguilar.com/animations/ */
/*
==============================================
slideDown
==============================================
*/


.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

/*
==============================================
slideOut
==============================================
*/


.slideOut{
    z-index: 900;

	animation-name: slideOut;
	-webkit-animation-name: slideOut;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideOut {
	0% {
		transform: translateY(0%);
	}			
	100% {
		transform: translateY(100%);
	}		
}

@-webkit-keyframes slideOut {
	0% {
		-webkit-transform: translateY(0%);
	}			
	100% {
		-webkit-transform: translateY(100%);
	}	
}

/*
==============================================
slideUp
==============================================
*/


.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

/*
==============================================
slideLeft
==============================================
*/


.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}		
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}

/*
==============================================
slideRight
==============================================
*/


.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}		
	100% {
		-webkit-transform: translateX(0%);
	}
}