html{
    font-size: 62.5%;
    font-family: Georgia, Garamond, Baskerville, serif;
}
html, body, #container{
	width: 100%;
	height: 100%;
	position: relative;
}
#container{
	overflow: hidden;
}
#container>.slide{
	background: indianred;
}
#container>.slide>.slide{
	background: cadetblue;
}
.slide{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.slide .content{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 20px;
	font-size: 2.4rem;
	position: relative;
}
.content .caption{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    
    text-align: center;
    z-index: 2;
}
.caption.black{
    color: black;
}
.caption.white{
    color: white;
}
.content .img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: black;
    text-align: center;
}
.content .img img{
    max-height: 100%;
    max-width: 100%;
}
.visible{
    visibility: visible;
    z-index: 800;
}

/* Animation Fixes */
.slideDown, {
    z-index: 1000;
}
.recent, .slide.recent, .slideLeft.recent, .slideRight.recent, .slideUp.recent, .slideDown.recent{ /*The most recent slide change should be on top*/
    z-index: 1000;
}

/* TEMP STYLES */
.origin>.content{ background: indianred; }
.two>.content{ background: cadetblue; }
.yellow>.content{
    background: palegoldenrod;
}
