html{
    font-size: 62.5%;
}
#container{
    background: black;
    font-size: 2.4rem;
    font-family: Georgia, serif;
}

.slide{
    background: indianred;
}


.one{
    background: indianred;
}
.two{
    background: lightBlue;
}
.three{
    background: bisque;
}
.four{
    background: lemonchiffon;
}
.five{
    background: whitesmoke;
}
.six{
    background: dimgray;
}

.tangent{
    background: mediumseagreen;
}
.tangent .tangent{
    background: lawngreen;
}